/* Table Stripped */
tbody tr:nth-child(odd) {
    background-color: rgb(250, 248, 248);
}

/* Color main */
.bg-main-100 {
    background-color: rgba(41, 125, 137, 1);
}

.text-main-100 {
    color: rgba(41, 125, 137, 1);
    ;
}

.bg-main-90 {
    background-color: rgba(41, 125, 137, .9);
}

.text-main-90 {
    color: rgba(41, 125, 137, .9);
    ;
}

.bg-main-80 {
    background-color: rgba(41, 125, 137, .8);
}

.text-main-80 {
    color: rgba(41, 125, 137, .8);
    ;
}

.bg-main-70 {
    background-color: rgba(41, 125, 137, .7);
}

.text-main-70 {
    color: rgba(41, 125, 137, .7);
    ;
}

.bg-main-60 {
    background-color: rgba(41, 125, 137, .6);
}

.text-main-60 {
    color: rgba(41, 125, 137, .6);
    ;
}

.bg-main-50 {
    background-color: rgba(41, 125, 137, .5);
}

.text-main-50 {
    color: rgba(41, 125, 137, .5);
    ;
}

/* Color second */
.bg-second-100 {
    background-color: rgb(106, 183, 195, 1);
}

.text-second-100 {
    color: rgba(106, 183, 195, 1);
    ;
}

.bg-second-90 {
    background-color: rgba(106, 183, 195, .9);
}

.text-second-90 {
    color: rgba(106, 183, 195, .9);
    ;
}

.bg-second-80 {
    background-color: rgba(106, 183, 195, .8);
}

.text-second-80 {
    color: rgba(106, 183, 195, .8);
    ;
}

.bg-second-70 {
    background-color: rgba(106, 183, 195, .7);
}

.text-main-70 {
    color: rgba(106, 183, 195, .7);
    ;
}

.bg-second-60 {
    background-color: rgba(106, 183, 195, .6);
}

.text-second-60 {
    color: rgba(106, 183, 195, .6);
    ;
}

.bg-second-50 {
    background-color: rgba(106, 183, 195, .5);
}

.text-second-50 {
    color: rgba(106, 183, 195, .5);
    ;
}

/* Background Pallet */
.bg-color1 {
    background-color: #140f07;
}

.bg-color2 {
    background-color: #102e4b;
}

.bg-color3 {
    background-color: #096da6;
}

.bg-color4 {
    background-color: #07b7ff;
}

.bg-color5 {
    background-color: #0efff9;
}

.bg-color6 {
    background-color: #4b3458;
}

/* Text Pallet */
.text-color1 {
    color: #140f07;
}

.text-color2 {
    color: #102e4b;
}

.text-color3 {
    color: #096da6;
}

.text-color4 {
    color: #07b7ff;
}

.text-color5 {
    color: #0efff9;
}

.text-color6 {
    color: #4b3458;
}

